.underlined {
                text-decoration: underline;
            }


            .red {
                color: red;                
            }


            #first-section {
                color: #4285F4;
                background-color: #CEF6CE;
                width: 200px;  
                               
            }


            #second-section {
                background-color: #8AB4F7;
                width: 400px;
                padding: 5px 10px 20px 30px;
            }

           body {
               margin: 0px;
               padding: 0px;
           }

           p {
               margin: 0;
               padding: 0;
           }
           
        